---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex-1 flex flex-col items-center justify-center">
    <h1
      class="mb-4 text-5xl font-extrabold md:text-6x1 lg:text-7xl text-orange-400"
    >
      404: Not found
    </h1>
    <p class="mb-4 text-3xl font-bold md:text-4x1 lg:text-5xl text-neutral-700">
      Something went wrong.
    </p>
    <p class="mb-4 text-lg font-light text-neutral-600">
      Sorry, we can't find the resource you are looking for...
    </p>
    <a
      href="/"
      class="bg-orange-400 hover:bg-orange-500 border border-neutral-400 rounded-lg px-4 py-2 my-4"
    >
      &lt; Back to Home
    </a>
  </div>
</Layout>
