---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout>
  <div class="flex flex-1 flex-col items-center justify-center text-center">
    <h1
      class="md:text-6x1 mb-4 text-5xl font-extrabold text-orange-400 lg:text-7xl"
    >
      404: Not found
    </h1>
    <p class="md:text-4x1 mb-4 text-3xl font-bold text-neutral-700 lg:text-5xl">
      Something went wrong.
    </p>
    <p class="mb-4 text-lg font-light text-neutral-600">
      Sorry, we can't find the resource you are looking for...
    </p>
    <Button icon="mdi:arrow-u-left-top" text="Back to Home" href="/" />
  </div>
</Layout>
