---
import Layout from "../layouts/Layout.astro";

import { Discover as DiscoverElement } from "../components/Discover.tsx";
---

<Layout>
  <section class="mx-auto w-full max-w-screen-xl border border-neutral-200">
    <DiscoverElement client:only />
  </section>
</Layout>
