---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout>
  <Hero />
  <section class="mx-auto max-w-screen-xl p-2 text-center">
    This section is still under construction...
  </section>
</Layout>
