---
import meloLogo from "../assets/melo.svg";

import type MenuItem from "../types/MenuItem";

interface Props {
  menu: MenuItem[];
}

const { menu = [] } = Astro.props;
---

<footer class="bg-neutral-800 py-2 text-center">
  <div
    class="mx-auto flex max-w-screen-xl flex-col items-center justify-center"
  >
    <a href="https://melo.re" class="flex px-4 py-2">
      <img src={meloLogo.src} class="h-20" alt="Melo Logo" />
    </a>
    <span class="py-2 text-neutral-300"> Melo - Your personal music hub </span>
    <ul
      class="flex flex-wrap items-center justify-center font-bold text-neutral-300"
    >
      {
        menu.map((item) => (
          <li
            class="py-2 hover:text-orange-400 focus:text-orange-400"
            onclick=""
          >
            <a href={item.link} class="px-2">
              {item.name}
            </a>
          </li>
        ))
      }
    </ul>
    <span class="pt-2 pb-6 text-neutral-300">
      &copy; 2018-2025 Sparod. All Rights Reserved.
    </span>
  </div>
</footer>
