---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "../styles/global.css";

const title = "Melo - Your personal music hub";
const menu = [
  { name: "Home", link: "/" },
  { name: "Features", link: "/features" },
  { name: "Plugins", link: "/plugins" },
  { name: "Downloads", link: "/downloads" },
  { name: "Documentation", link: "//docs.melo.re/" },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Melo" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <script is:inline>
      document.documentElement.classList.toggle(
        "dark",
        localStorage.getItem("theme") === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches),
      );
    </script>
  </head>
  <body class="flex min-h-dvh flex-col dark:bg-neutral-900 dark:text-white">
    <Header menu={menu} />
    <main class="flex flex-1 flex-col">
      <slot />
    </main>
    <Footer menu={menu} />
  </body>
</html>
